import { inject, Injectable } from '@angular/core';
import { Observable } from 'rxjs';
import { UseCase } from '@interface-core/use-case';
import { {{className}}Entity } from '@models/{{name}}/{{name}}-entity.model';
import { {{className}}Repository } from '@repositories/{{name}}/{{name}}.repository';

@Injectable()
export class Get{{className}}UseCase implements UseCase<unknown, {{className}}Entity> {
  private readonly {{name}}Repository = inject({{className}}Repository);

  execute(params: unknown): Observable<{{className}}Entity> {
    return this.{{name}}Repository.get{{className}}(params);
  }
}
