import { EnvironmentProviders, makeEnvironmentProviders } from '@angular/core';
import { {{className}}Repository } from '@repositories/{{name}}/{{name}}.repository';
import { {{className}}ImpRepository } from '@data/repositories/{{name}}/{{name}}-implementation.repository';
import { {{className}}RemoteDataSource } from '@data/datasource/{{name}}/source/{{name}}-remote.datasource';
import { {{className}}RemoteDataSourceImp } from '@data/datasource/{{name}}/remote/{{name}}-remote.datasource.imp';
import { {{className}}LocalDataSource } from '@data/datasource/{{name}}/source/{{name}}-local.datasource';
import { {{className}}LocalDataSourceImp } from '@data/datasource/{{name}}/local/{{name}}-local.datasource.imp';
import { Get{{className}}UseCase } from '@usecases/{{name}}/get-{{name}}.usecase';

export function provide{{className}}DI(): EnvironmentProviders {
  return makeEnvironmentProviders([
    Get{{className}}UseCase,
    { provide: {{className}}Repository, useClass: {{className}}ImpRepository },
    { provide: {{className}}RemoteDataSource, useClass: {{className}}RemoteDataSourceImp },
    { provide: {{className}}LocalDataSource, useClass: {{className}}LocalDataSourceImp },
  ]);
}
