import { Mapper } from '@interface-core/mapper';
import { {{className}}DTO } from '@data/datasource/{{name}}/remote/dto/{{name}}.dto';
import { {{className}}Entity } from '@models/{{name}}/{{name}}-entity.model';

export class {{className}}DtoToEntityMapper extends Mapper<{{className}}DTO, {{className}}Entity> {
  mapFrom(param: {{className}}DTO): {{className}}Entity {
    return {
      // TODO: map DTO fields to Entity fields
      ...param,
    } as unknown as {{className}}Entity;
  }

  mapTo(param: {{className}}Entity): {{className}}DTO {
    return {
      // TODO: map Entity fields to DTO fields
      ...param,
    } as unknown as {{className}}DTO;
  }
}
