import { inject, Injectable } from '@angular/core';
import { Observable, of } from 'rxjs';
import { StorageSource } from 'src/core/services/storage/source/storage-source.interface';
import { {{className}}LocalDataSource } from '../source/{{name}}-local.datasource';
import { {{className}}DBO } from '../dbo/{{name}}.dbo';

@Injectable()
export class {{className}}LocalDataSourceImp extends {{className}}LocalDataSource {
  private readonly storage = inject(StorageSource);

  override get{{className}}(params: unknown): Observable<{{className}}DBO | null> {
    return of(this.storage.get<{{className}}DBO>('{{name}}'));
  }

  override save{{className}}(_params: unknown, data: {{className}}DBO): void {
    this.storage.set('{{name}}', data);
  }
}
