import { inject, Injectable } from '@angular/core';
import { Observable } from 'rxjs';
import { environment } from '@environments/environment';
import { Request } from '@interface-core/request';
import { {{className}}RemoteDataSource } from '../source/{{name}}-remote.datasource';
import { {{className}}DTO } from '../dto/{{name}}.dto';

@Injectable()
export class {{className}}RemoteDataSourceImp extends {{className}}RemoteDataSource {
  private readonly request = inject(Request);

  override get{{className}}(params: unknown): Observable<{{className}}DTO> {
    return this.request.doRequest<{{className}}DTO>('GET', `${environment.apiBaseUrl}{{name}}`);
  }
}
