import { Observable } from 'rxjs';
import { {{className}}DTO } from '../dto/{{name}}.dto';

export abstract class {{className}}RemoteDataSource {
  abstract get{{className}}(params: unknown): Observable<{{className}}DTO>;
}
