<div class="flex flex-col gap-3">
  <div class="aspect-square bg-white/[0.02] border border-white/[0.06] rounded-2xl overflow-hidden">
    <img
      appImgFallback
      class="w-full h-full object-contain p-8"
      [src]="product.images[activeImage]"
      [alt]="product.title"
    />
  </div>

  @if (product.images.length > 1) {
    <div class="flex gap-2 overflow-x-auto pb-1">
      @for (img of product.images; track $index) {
        <button
          type="button"
          class="shrink-0 w-16 h-16 rounded-xl overflow-hidden border transition-all duration-150 bg-white/[0.03]"
          [class]="
            activeImage === $index
              ? 'border-white/30'
              : 'border-white/[0.06] opacity-60 hover:opacity-90'
          "
          (click)="activeImageChange.emit($index)"
        >
          <img
            appImgFallback
            class="w-full h-full object-contain p-1"
            [src]="img"
            [alt]="product.title"
          />
        </button>
      }
    </div>
  }
</div>
