@tailwind base;
@tailwind components;
@tailwind utilities;


        html, body{
          background-color: #111828
        }


        .fade-in-animation {
          animation: fadeIn 1s ease-out forwards;
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }